@import './theme.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: $default-text;
	font-family: 'Jost', sans-serif;
}

main {
	position: relative;
	// max-width: 56em;
	background-color: white;
	// padding: 2em;
	margin: 0 auto;
	box-sizing: border-box;
}

.container {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

.primary-highlight {
	color: $primary-color;
}

hr {
	background-color: $primary-color;
	border: none;
	height: 2px;
}

.validation-message {
	color: $danger;
}

.primary-button {
	color: white;
	background-color: $primary-color;
}