@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,300;1,400&display=swap');

//Default Text
$default-text: #242424;

// Theme Colors
$primary-color: #f78b34;
$secondary-color: #2f8ece;

// Greys
$grey-300: #575656;

$danger: #d43d3d;

$border-radius-lg: 20px;

@mixin test {
    background-color: $primary-color;
}
